/* Example of Shorthand Properties */

.element {
    background: url('bg-image.jpg') top right / cover no-repeat lightblue;
  }


/* Example of Longhand Properties */
.element {
    background-image: url('bg-image.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightblue;
  }


  /* Font & Text Properties */

  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-size: oblique;
    text-decoration: line-through;

    /* Format 
    text-shadow: horizontal-offset vertical-offset blur-radius color; */
    text-shadow:  2px 2px 4px green;
  }

  /* List Style Properties */

  ul {
    list-style-type: lower-roman;
    list-style-image: url('https://edube.org/uploads/media/default/0001/04/oedg_icon_regular.png');
  }


  /* HyperLink Propertis */

  a:focus {
    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: bold;
  }

  /* Image Properties */

  img {
    width: 600px;
    height: 300px;
}

/* Box Model */
.box {
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-width: 300px;
  min-height: 50px;
  max-height: 200px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 25px;
  background-image: url('https://edube.org/uploads/media/default/0001/04/flowers-banner.png');
  background-size: cover; /* Ensuring the background covers the entire element */
  background-clip: border-box; /* Defines how far the background extends */
  padding: 30px;
  border: 5px solid black;
  margin: 20px;
}

a{
  text-decoration: none;
  margin-top: 5%;
}