/* Example of Shorthand Properties */

.element {
    background: url('bg-image.jpg') top right / cover no-repeat lightblue;
  }


/* Example of Longhand Properties */
.element {
    background-image: url('bg-image.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightblue;
  }


  /* Font & Text Properties */

  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-size: oblique;
    text-decoration: line-through;

    /* Format 
    text-shadow: horizontal-offset vertical-offset blur-radius color; */
    text-shadow:  2px 2px 4px green;
  }

  /* List Style Properties */

  ul {
    list-style-type: lower-roman;
    list-style-image: url('https://edube.org/uploads/media/default/0001/04/oedg_icon_regular.png');
  }


  /* HyperLink Propertis */

  a:focus {
    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: bold;
  }